<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>BURGERS</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
</head>

<body>
    {{!-- source for my background burger image --}}
    <div class="burger">
        <div class="bun-top">
            <div class="sesame-seed-one"></div>
            <div class="sesame-seed-two"></div>
            <div class="sesame-seed-three"></div>
        </div>
        <div class="cosmic-fill">
        </div>
        <div class="bun-bottom"></div>
    </div>
    {{{ body }}}
</body>

</html>